.queueList {
    width: 100%;
}

.queueList .nsGroup {
    margin-bottom: 2em;
    width: 100%;
}

.queueList .nsGroup h5 {
    padding: 0.5em;
    margin: 0;
}

.queueList .nsGroup .list-group .list-group-item {
    padding: 0.25rem 0.5rem;
    overflow: hidden;
}
