h1,
h2,
h3 {
    margin-bottom: 1em;
}

h1 {
    margin-bottom: 0.8em;
}

nav,
.navbar {
    padding: 0;
    margin: 0 24px;
}

.table {
    font-size: 0.9em;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.table th {
    text-align: center;
}

.fullWidth {
    width: 100%;
}

#app {
    margin: 0;
    padding: 24px;
}

#app .mainContainer {
    display: flex;
    flex-wrap: nowrap;
}

#app .mainContainer > div {
    display: block;
    width: 0;
}

#app .mainContainer .page {
    padding: 24px;
    background: #EEE;
    flex: 1;
}

#app .mainContainer .sidePanel {
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    background: #f8f8f8;
    padding: 24px;
}

#app .homeLink {
    margin-bottom: 12px;
}
