a {
    text-decoration: none;
}

.btn-link {
    text-decoration: none;
}

.display-4 {
    font-size: 2rem;
    font-weight: 440;
    margin-bottom: 1rem;
}

.display-5 {
    font-size: 1.6rem;
    font-weight: 440;
    margin-bottom: 1rem;
}

.display-6 {
    font-size: 1.4rem;
    font-weight: 440;
    margin-bottom: 1rem;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #e6f2ff;
}

.table thead tr th {
    font-weight: 540;
    line-height: 1;
}

#app {
    margin: 0;
    padding: 1.5rem;
}

#app .mainContainer {
    display: flex;
    flex-wrap: nowrap;
}

#app .mainContainer > div {
    display: block;
    width: 0;
}

#app .mainContainer .page {
    padding: 1.5rem;
    background: #EEE;
    flex: 1;
}

#app .mainContainer .leftPanel {
    flex-basis: 20rem;
    max-width: 20rem;
    min-width: 20rem;
    width: 20rem;
    flex-grow: 0;
    flex-shrink: 0;
    background: #f8f8f8;
    padding: 1.5rem;
}

