.chartContainer {
    width: 100%;
    height: 300px;
    position: relative;
}

.chartContainer .recharts-responsive-container {
    margin: 0 auto;
}

.chartContainer .recharts-legend-wrapper,
.chartContainer .recharts-cartesian-axis-ticks {
    font-size: 0.8em;
}